<%- include('partial/header.ejs') %>

<div class="container mt-5">
  <div class="row">
  <!-- The form for contributing food waste data -->
  <form action="/food-waste-data" method="post">
    <div class="container mt-5">
      <h2 class="mb-4">Food Waste Data Form</h2>

      <form action="/food-waste-data" method="post">
        <div class="form-group">
          <label for="countryID">Country</label>
          <br>
          <select name="countryID" id="countryID">
            <option value="" selected disabled>Select One</option>

            <% locals.countries.map(country => { %>
              <option value="<%= country.countryID %>"> <%= country.countryName %></option>
              <% }) %>
          </select>
        </div>

        <div class="form-group">
          <label for="cityID">City</label>
          <br>
          <select name="cityID", id="cityID">
            <option value="" selected disabled>Select One</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sourceID">Source</label>
          <br>
          <select name="sourceID" id="sourceID">
            <option value="" selected disabled>Select One</option>
          </select>
          </select>
        </div>

        <div class="form-group">
          <label for="reason">Reason:</label>
          <textarea
            class="form-control"
            id="reason"
            name="reason"
            rows="3"
            required
          ></textarea>
        </div>

        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input
            type="number"
            class="form-control"
            id="quantity"
            name="quantity"
            required
          />
        </div>

        <div class="form-group">
          <label for="wasteGenerationDate">Waste Generation Date:</label>
          <input
            type="date"
            class="form-control"
            id="wasteGenerationDate"
            name="wasteGenerationDate"
            required
          />
        </div>

        <!-- Contribution Time (System Time) will be handled server-side -->

        <!-- Contribution Date (System Date) will be handled server-side -->

        <div class="form-group">
          <label for="foodWasteCategory"
            >Food Waste Category</label
          >
          <br>
          <select name="foodWasteCategories" id="foodWasteCategory" multiple>
            <option value="" disabled>Select Multiple</option>

            <% locals.wasteCategories.map(wasteCategory => { %>
              <option value="<%= wasteCategory.categoryID%>"> <%= wasteCategory.wasteCategory %></option>
              <% }) %>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </form>
</div>

<style>
  .scrollable-table {
    max-height: 400px;
    overflow-y: auto;
  }

  .table-container {
    max-height: 100%;
  }
</style>

<script>

  $('select[name=countryID]').on('change', function() {
    const selectedCountryID = $(this).find(":selected").val();
    populateCitySelect(selectedCountryID)
  }); 


  const populateCitySelect = (selectedCountryID) => {
    if (selectedCountryID) {
      fetch(`/api/cities?countryID=${selectedCountryID}`)
      .then(res => res.json())
      .then(data => {
        $('select[name=cityID]').empty()
        $('select[name=cityID]').append(`<option value="" selected disabled>Select One</option>`)
        data.map(city => {
          $('select[name=cityID]').append(`<option value="${city.cityID}">${city.cityName}</option>`)
        })
      })
    }
  }

  $('select[name=cityID]').on('change', function() {
    const selectedCityID = $(this).find(":selected").val();
    populateSourceSelect(selectedCityID)
  }); 

  const populateSourceSelect = (selectedCityID) => {
    if (selectedCityID) {
      fetch(`/api/sources?cityID=${selectedCityID}`)
      .then(res => res.json())
      .then(data => {
        $('select[name=sourceID]').empty()
        $('select[name=sourceID]').append(`<option value="" selected disabled>Select One</option>`)
        data.map(source => {
          $('select[name=sourceID]').append(`<option value="${source.sourceID}">${source.sourceName}</option>`)
        })
      })
    }
  }

</script>

<%- include('partial/footer.ejs') %>
