<%- include('partial/header.ejs') %>

<div class="container mt-5">
  <h2 class="mb-4">Contributor Dashboard</h2>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Contributor Information</h5>
      <p class="card-text">Contributor ID: <%= locals.contributorInfo.contributorID %></p>
      <p class="card-text">First Name: <%= locals.contributorInfo.firstName %></p>
      <p class="card-text">Last Name: <%= locals.contributorInfo.lastName %></p>
      <p class="card-text">Email: <%= locals.contributorInfo.email %></p>
      <p class="card-text">Contribution: <%= locals.contributorInfo.contributionCount %></p>
    </div>
  </div>

  <div class="mt-4">
    <a href="/contribute/new" class="btn btn-primary">Contribute Data</a>
  </div>
    <div class="mt-4">
    <a href="/logout" class="btn btn-primary">LogOut</a>
  </div>
</div>

<%- include('partial/footer.ejs') %>
